body{background:url(img/white_leather.png);  width: auto; height: auto;}
#header{padding:8px 0 8px;}
#header a{text-decoration:none}
#header p{padding:0; margin:0; line-height:1em; font-size:100%}
#header h1{margin:0;line-height:1em }
#header h1.dotmark{line-height:1.5em;}
#header{ padding-top:44px;}
.logo {padding-top: 11px;display: block;}
.logo span{display:none}
.dotmark{padding:4px; font-size:14px; line-height:1.5em;  background:#fff; border:1px dashed rgb(252, 111, 0); margin:0; color:rgb(252, 111, 0); position:relative;}
.dotmark:hover{ border:1px dashed #fff; color:#fff; background:rgb(252, 111, 0);}
.dotmark i{position:absolute; left:10%; top:-12px; font-size:21px;}
.offerNoteWrapper{border:6px solid #fff; margin: 6px;}
.offerNoteWrapper:hover{border-color:rgb(252, 111, 0);}
h3 {font-size: 18px;line-height: 1.5em;}
hr.soften {margin: 8px 0;background: #DDD;}
.moreOptopm.carousel .carousel-control,.moreOptopm.carousel .carousel-control:hover {background:transparent; }
.moreOptopm.carousel .carousel-control {border: 0; top: 50%; bottom: 0;}
.moreOptopm.carousel .carousel-control.right, .moreOptopm.carousel .carousel-control.right:hover {right:0; }
.moreOptopm.carousel .carousel-control.left, .moreOptopm.carousel .carousel-control.left:hover {left:0; }
.moreOptopm.carousel .carousel-control, .moreOptopm.carousel .carousel-control:hover {color: #000;}
.homCar{overflow:hidden;}
.navbar .brand {padding: 0px 20px 0;font-size: 37px;color: black;}
.spaceBtm{padding-bottom:8px}
#myCarousel.homCar .item img{width:100%; max-height:400px}

#myCarousel{position:relative; margin: 0;}
.navbar-inner {padding-left: 0;padding-right: 0;}
.thumbnail .btn{ border-radius: 0 0 0 0;}
.thumbnail h4{line-height:42px}
.thumbnail img{ max-width:100%}
.thumbnail:hover {border: 1px solid #CACACA;}
.form-horizontal.qtyFrm .control-label{text-align: left;}
.form-horizontal.qtyFrm .control-label span{font-size:18px}
.clr{clear:both;}
.moreOptopm.carousel .item img{padding:2px; border:1px solid #ddd}
.moreOptopm.carousel .item img:hover{ border:1px solid pink}
.carousel .item > img {display:inline;}
.moreOptopm{min-height:116px}
#productDetail {margin-bottom:0}
.tabWrapper{background:#fff; padding:14px; border:1px solid #ddd; border-top:0}
#productView .btn-toolbar{padding-left:3px;}
.carousel-control {border: 0px; border-radius:2px}
.carousel-control, .carousel-control:hover {background:rgba(248, 118, 16, 1); height:43px; line-height:34px; color: #fff;}
.carousel-control {top: 50%;}
.homCar h4 {background-color: #eb4800; color: #fff;padding: 11px 4px;font-size: 26px;text-transform: uppercase;float: left;width: auto;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';opacity: 0.8;}
.homCar p span{background-color: #fff;color: #000;padding: 2px 10px;line-height: 30px;font-size: 28px;float: left;width: auto;opacity: 0.8;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';}
.carousel-control.left{left: -15600px;}
.carousel-control.right{right: -15600px;}
.carousel:hover .carousel-control.right{right: 8px; left: auto;}
.carousel:hover .carousel-control.left{left: 8px;}
.alignR{text-align:right;}
.control-label.alignL, .alignL{text-align:left;}
.loginFrm{ margin-bottom:8px;}
.loginFrm .control-group{padding:8px 14px 0; margin-bottom:0 }
.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {right: 0;left: auto;border-radius: 0; border-color: #ccc;}
.navbar .nav , .marginLess{margin:0}
.navbar-search .search-query {padding: 4px 14px;-moz-border-radius: 1px;-webkit-border-radius: 1px;border-radius: 1px;line-height: 1.5em; min-width: 200px;}
.navbar-search{margin-left:6px;}
.actionList a{width:50%; font-size:11px; color:#444}
.caption p{margin:0}
.caption h4{margin:0}
.thumbnail .caption {padding: 9px;color: #555555;background: #F3F2F2;}
.footer {background-color:#222; color:#eee; padding: 28px 8px 18px; margin-top: 18px;}
.footer a{color:#bbb; font-size:12px;}
.copyright {clear: both; padding: 8px; border-top: 1px solid #CCC; font-size: 13px; background: #f2f2f2; box-shadow: 0 0 3px #B1AFAF;}
.topNav{padding: 0;border-bottom: 1px solid #CCC;background: #f2f2f2;box-shadow: 0 0 3px #B1AFAF;}
.topNav a{color:#333; font-size:12px; font-weight:bold; display:inline-block;  padding:8px 4px;}
.topNav a:hover, .topNav a.active{color:#fff; background:#f89406; text-decoration:none}
.socialNw a{width:24px; height:24px; line-height:24px; display:inline-block; padding:3px; margin-top:3px; font-size:21px; border-radius:50%; background:#999; color:#fff; text-align:center; }
.cntr{text-align:center}
.cart{border:1px solid #ddd;  }
#sidebar ul {margin: 0;padding: 0;}
#sidebar .alert {padding: 8px;}
#sidebar .nav a{color:#000}
#sidebar .nav a:hover{color:#f89406}
#sidebar .cart{border:1px solid #B94A48; }
#sidebar h4{margin:0;  line-height:1.5em; padding:0 13px;  }
#sidebar h2{font-size:21px; line-height:21px;}
#sidebar a.defaultBtn:hover, .defaultBtn:hover{color:#fff; text-decoration:none; background:#333}
#sidebar .nav a.zoomTool{color:#fff} 
.thumbnail>a{display:block; text-align:center}
.carousel-caption {background: transparent;background: transparent;}
#compairTbl td{text-align:center;}
.justify{text-align:justify;}
.table td[align=right] {text-align: right;}
.thumbnail h5,.thumbnail p{text-align:center}
.bs-docs-sidenav > li > a {border: 0; border-bottom:1px solid #e5e5e5;}
.thumbnail{position:relative;}
.tag {background:url(assets/img/new.png) no-repeat 0 0; position: absolute; display:block; top: -4px;right: -18px; height:48px; width:48px;}
.np{padding:0}
.totalInCart{line-height:26px;}
.absoluteBlk{position:absolute; left:8px; top:8px; width:45%; }
.relative{position:relative}
.socialMedia .on, .socialMedia:hover .off{display:block}
.socialMedia .off, .socialMedia:hover .on{display:none}
#newProductCar .carousel-control {position: absolute;top: -48px;width: 24px;height: 24px;margin-top: 0;font-size: 16px;font-weight: bold;line-height: 1.5em;color: #ffffff;text-align: center;background: #FFA300;border: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
#newProductCar .carousel-control.right {right: 8px; left: auto;}
#newProductCar .carousel-control.left {right: 38px; left: auto;}
#newProductCar{margin-bottom:0}
.zoomTool{width:120px; height:34px; font-size:14px; font-weight:bold; line-height:34px; text-align:center; color:#fff; border-radius:2px; background:#f89406; position:absolute; left:50%; top:44%; margin-left:-60px; z-index:999; display:none}.thumbnail{background:#fff}
.zoomTool:hover{color:#fff; text-decoration:none; }
.thumbnail>a.overlay, .thumbnail>a.zoomTool {display:none;}
.shopBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;color: #fff;border-radius: 2px;background: #f89406;display:inline-block;padding:0 12px;border:0;}
.defaultBtn {min-height: 34px;font-size: 14px;font-weight: bold;line-height: 34px;text-align: center;border-radius: 2px;display:inline-block;padding:0 12px;color: #666;text-decoration: none;background: #e6e6e6;border:0;}
.shopBtn:hover {color: #fff; text-decoration:none; background:#F86706}
.gotop {background-color: #000000;display: none;position: fixed;bottom: 30px;right: 30px;padding: 0px 10px 5px;color: #fff;text-decoration: none;font-size: 30px;line-height: 34px;}
.gotop:hover {color: #fff;text-decoration: none;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
#gototop{margin-top:1px;}
#footerMenu a{ font-size:12px; text-transform:lowercase}


    /*-------------------------------------*/
    .cf:before, .cf:after{
    content:"";
    display:table;
    }
    .cf:after{
    clear:both;
    }
    .cf{
    zoom:1;
    }
    /*-------------------------------------*/
    
    .form-wrapper-2 {
    width: 330px;
    padding: 15px;
    /* background: #555; */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
    }
    .form-wrapper-2 input {
    width: 210px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    }
    .form-wrapper-2 input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    .form-wrapper-2 input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #D88F3C;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }
    .form-wrapper-2 button:hover{
    background: #FA8807;
    }
    .form-wrapper-2 button:active,
    .form-wrapper-2 button:focus{
    background: #c42f2f;
    }
    .form-wrapper-2 button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #D88F3C transparent;
    top: 12px;
    left: -6px;
    }
    .form-wrapper-2 button:hover:before{
    border-right-color: #FA8807;
    }
    .form-wrapper-2 button:focus:before{
    border-right-color: #c42f2f;
    }
    .form-wrapper-2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
    }

    #clockdiv{
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 10;
        text-align: center;
        font-size: 15px;
        align-content: center
    }
    
    #clockdiv > div{
        padding: 3px;
        border-radius: 3px;
        background: #00BF96;
        display: inline-block;
        align-content: center
    }
    
    #clockdiv div > span{
        padding: 10px;
        border-radius: 3px;
        background: #00816A;
        display: inline-block;
        align-content: center
    }
    
    .smalltext{
        padding-top: 5px;
        font-size: 16px;
    }

    .dropdown-submenu {
        position: relative;
      }
      
      .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
      }

      .product_fav
{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left: 36px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_fav:hover
{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_fav i
{
    line-height: 36px;
    color: #cccccc;
}
.product_fav.active i
{
    color: #df3b3b;
}

.sale {
    position: absolute;
    display: inline-block;
    background: orange;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    top: -270px;
    right: -600px;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    margin: 45vh 45vw;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
  }
  .sale:before, .sale:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
  }
  .sale:after {
    transform: rotate(60deg);
  }
  @keyframes beat {
    from {
      transform: rotate(-20deg) scale(1);
    }
    to {
      transform: rotate(-20deg) scale(1.1);
    }
  }

  /* favoite */
  @import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);


.click {
    font-size: 33px;
    color: rgba(0,0,0,.5);
    width: 38px;
    height: 38px;
    margin: 0 auto;
  margin-top: -40px;
  margin-left: 200px;
    position: relative;
    cursor: pointer;
}

.click span {
    margin-left: 4px;
    margin-top: 3px;
    z-index: 999;
    position: absolute;
}

span:hover {
    opacity: 0.8;
}

span:active {
    transform: scale(0.93,0.93) translateY(2px)
}

.ring, .ring2 {
    opacity: 0;
    background: grey;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 19px;
    left: 18px;
    border-radius: 20%;
    cursor: pointer;
}

.active-5 span, .active-2 span {
    color: #F5CC27 !important;
}

.active-2 .ring {
    width: 58px !important;
    height: 58px !important;
    top: -10px !important;
    left: -10px !important;
    position: absolute;
    border-radius: 50%;
    opacity: 1 !important;
}

.active-2 .ring {
    background: #F5CC27 !important;
}

.active-2 .ring2 {
    background: #fff !important;
}

.active-3 .ring2 {
    width: 60px !important;
    height: 60px !important;
    top: -11px !important;
    left: -11px !important;
    position: absolute;
    border-radius: 50%;
    opacity: 1 !important;
}

.info {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    color: grey;
    position: relative;
    top: 30px;
    left: -46px;
    opacity: 0;
    transition: all 0.3s ease;
}

.info-tog {
    color: #F5CC27;
    position: relative;
    top: 45px;
    opacity: 1;
}

* {
    transition: all .32s ease;
}