.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%; 
    
  }
  
  .icon {
    padding: 10px;
    background: blueviolet;
    color: white;
    min-width: 50px;
    font-size: 20px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid green;
  }
  
  /* Set a style for the submit button */
  .btn1 {
    background-color: rgb(190, 8, 99);
    color: rgb(236, 228, 230);
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn2 {
    background-color: rgb(8, 41, 190);
    color: rgb(236, 228, 230);
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }

  .btn:hover {
    opacity: 1;
  }